In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn


def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)

In [2]:
# check Facilities
query1 = """
    SELECT *
    FROM Facilities
    LIMIT 5;
    """
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)

In [3]:
# check Bookings
query1 = """
    SELECT *
    FROM Bookings
    LIMIT 5;
    """
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 3, 1, '2012-07-03 11:00:00', 2)
(1, 4, 1, '2012-07-03 08:00:00', 2)
(2, 6, 0, '2012-07-03 18:00:00', 2)
(3, 7, 1, '2012-07-03 19:00:00', 2)
(4, 8, 1, '2012-07-03 10:00:00', 1)

In [4]:
# check Members
query1 = """
    SELECT *
    FROM Members
    LIMIT 5;
    """
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'GUEST', 'GUEST', 'GUEST', 0, '(000) 000-0000', '', '2012-07-01 00:00:00')
(1, 'Smith', 'Darren', '8 Bloomsbury Close, Boston', 4321, '555-555-5555', '', '2012-07-02 12:02:05')
(2, 'Smith', 'Tracy', '8 Bloomsbury Close, New York', 4321, '555-555-5555', '', '2012-07-02 12:08:23')
(3, 'Rownam', 'Tim', '23 Highway Way, Boston', 23423, '(844) 693-0723', '', '2012-07-03 09:32:15')
(4, 'Joplette', 'Janice', '20 Crossing Road, New York', 234, '(833) 942-4710', '1', '2012-07-03 10:25:05')

Q1: Some of the facilities charge a fee to members, but some do not.
Write a SQL query to produce a list of the names of the facilities that do.

In [5]:
query1 = """
SELECT name, membercost
FROM Facilities
WHERE membercost != 0;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tennis Court 1', 5)
('Tennis Court 2', 5)
('Massage Room 1', 9.9)
('Massage Room 2', 9.9)
('Squash Court', 3.5)

Q2: How many facilities do not charge a fee to members?

In [6]:
query1 = """
SELECT count(name)
FROM Facilities
WHERE membercost = 0;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(4,)

Q3: Write an SQL query to show a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost.
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question.

In [7]:
query1 = """
SELECT facid, name, membercost, monthlymaintenance
FROM Facilities
WHERE membercost != 0 AND membercost < (monthlymaintenance * 0.2);
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 200)
(1, 'Tennis Court 2', 5, 200)
(4, 'Massage Room 1', 9.9, 3000)
(5, 'Massage Room 2', 9.9, 3000)
(6, 'Squash Court', 3.5, 80)

Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
Try writing the query without using the OR operator.

In [8]:
query1 = """
SELECT *
FROM Facilities
WHERE facid IN (1, 5);
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)

Q5: Produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100. Return the name and monthly maintenance of the facilities
in question.

In [9]:
query1 = """
SELECT
	name,
	monthlymaintenance,
	CASE WHEN monthlymaintenance > 100 THEN 'expensive'
	     ELSE 'cheap' END AS cost
FROM Facilities;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tennis Court 1', 200, 'expensive')
('Tennis Court 2', 200, 'expensive')
('Badminton Court', 50, 'cheap')
('Table Tennis', 10, 'cheap')
('Massage Room 1', 3000, 'expensive')
('Massage Room 2', 3000, 'expensive')
('Squash Court', 80, 'cheap')
('Snooker Table', 15, 'cheap')
('Pool Table', 15, 'cheap')

Q6: You'd like to get the first and last name of the last member(s)
who signed up. Try not to use the LIMIT clause for your solution.

In [10]:
query1 = """
SELECT firstname, surname, joindate
FROM Members
ORDER BY joindate DESC;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Darren', 'Smith', '2012-09-26 18:08:45')
('Erica', 'Crumpet', '2012-09-22 08:36:38')
('John', 'Hunt', '2012-09-19 11:32:45')
('Hyacinth', 'Tupperware', '2012-09-18 19:32:05')
('Millicent', 'Purview', '2012-09-18 19:04:01')
('Henry', 'Worthington-Smyth', '2012-09-17 12:27:15')
('David', 'Farrell', '2012-09-15 08:22:05')
('Henrietta', 'Rumney', '2012-09-05 08:42:35')
('Douglas', 'Jones', '2012-09-02 18:43:05')
('Ramnaresh', 'Sarwin', '2012-09-01 08:44:42')
('Joan', 'Coplin', '2012-08-29 08:32:41')
('Anna', 'Mackenzie', '2012-08-26 09:32:05')
('Matthew', 'Genting', '2012-08-19 14:55:55')
('David', 'Pinker', '2012-08-16 11:32:47')
('Timothy', 'Baker', '2012-08-15 10:34:25')
('Florence', 'Bader', '2012-08-10 17:52:03')
('Jack', 'Smith', '2012-08-10 16:22:05')
('Jemima', 'Farrell', '2012-08-10 14:28:01')
('Anne', 'Baker', '2012-08-10 14:23:22')
('David', 'Jones', '2012-08-06 16:32:55')
('Charles', 'Owen', '2012-08-03 19:42:37')
('Ponder', 'Stibbons', '2012-07-25 17:09:05')
('Tim', 'Boothe', '2012-07-25 16:02:35')
('Nancy', 'Dare', '2012-07-25 08:59:12')
('Burton', 'Tracy', '2012-07-15 08:52:55')
('Gerald', 'Butters', '2012-07-09 10:44:09')
('Janice', 'Joplette', '2012-07-03 10:25:05')
('Tim', 'Rownam', '2012-07-03 09:32:15')
('Tracy', 'Smith', '2012-07-02 12:08:23')
('Darren', 'Smith', '2012-07-02 12:02:05')
('GUEST', 'GUEST', '2012-07-01 00:00:00')

Q7: Produce a list of all members who have used a tennis court.
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name.

In [11]:
query1 = """
SELECT DISTINCT *
FROM (
    SELECT name AS facility_name, concat(firstname, ' ', surname) AS member_name
    FROM Members
    INNER JOIN Bookings USING (memid)
    INNER JOIN Facilities USING (facid)
	WHERE name LIKE 'Tennis%') AS subquery
WHERE member_name <> 'GUEST GUEST'
ORDER BY member_name;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: no such function: concat

Q8: Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries.

In [12]:
query1 = """
SELECT
	name AS facility_name, 
	concat(firstname, ' ', surname) AS member_name,
	CASE WHEN memid = 0 THEN (slots * guestcost)
		ELSE (slots * membercost) END AS total_cost
FROM Bookings
LEFT JOIN Facilities USING (facid)
LEFT JOIN Members USING (memid)
WHERE DATE(starttime) = '2012-09-14'
HAVING total_cost > 30
ORDER BY total_cost DESC;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: no such function: concat

Q9: This time, produce the same result as in Q8, but using a subquery.

In [13]:
query1 = """
SELECT *
FROM (
    SELECT 
    	name AS facility_name, 
    	concat(firstname, ' ', surname) AS member_name,
		CASE WHEN memid = 0 THEN (slots * guestcost)
			ELSE (slots * membercost) END AS total_cost
		FROM Bookings
		LEFT JOIN Facilities USING (facid)
		LEFT JOIN Members USING (memid)
		WHERE DATE(starttime) = '2012-09-14'
    ) AS subquery
HAVING total_cost > 30
ORDER BY total_cost DESC;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: no such function: concat

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [14]:
query1 = """
SELECT
	subquery.name AS facility_name,
	sum(subquery.revenue) AS total_rev
	FROM (
        SELECT name,
        	CASE WHEN memid != 0 THEN slots * membercost
		 		 ELSE slots * guestcost END AS revenue
       	FROM Facilities
        INNER JOIN Bookings USING (facid)) AS subquery
GROUP BY name
HAVING total_rev < 1000
ORDER BY total_rev;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

Q11: Produce a report of members and who recommended them in alphabetic surname, firstname order.

In [15]:
query1 = """
SELECT
	a.surname, a.firstname, b.surname AS recommended_by_surname, b.firstname	
FROM Members AS a
INNER JOIN Members AS b
ON a.memid = b.recommendedby
WHERE a.memid != 0
ORDER BY recommended_by_surname;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Stibbons', 'Ponder', 'Bader', 'Florence')
('Stibbons', 'Ponder', 'Baker', 'Anne')
('Farrell', 'Jemima', 'Baker', 'Timothy')
('Rownam', 'Tim', 'Boothe', 'Tim')
('Smith', 'Darren', 'Butters', 'Gerald')
('Baker', 'Timothy', 'Coplin', 'Joan')
('Smith', 'Tracy', 'Crumpet', 'Erica')
('Joplette', 'Janice', 'Dare', 'Nancy')
('Butters', 'Gerald', 'Genting', 'Matthew')
('Purview', 'Millicent', 'Hunt', 'John')
('Joplette', 'Janice', 'Jones', 'David')
('Jones', 'David', 'Jones', 'Douglas')
('Smith', 'Darren', 'Joplette', 'Janice')
('Smith', 'Darren', 'Mackenzie', 'Anna')
('Smith', 'Darren', 'Owen', 'Charles')
('Farrell', 'Jemima', 'Pinker', 'David')
('Smith', 'Tracy', 'Purview', 'Millicent')
('Genting', 'Matthew', 'Rumney', 'Henrietta')
('Bader', 'Florence', 'Sarwin', 'Ramnaresh')
('Smith', 'Darren', 'Smith', 'Jack')
('Tracy', 'Burton', 'Stibbons', 'Ponder')
('Smith', 'Tracy', 'Worthington-Smyth', 'Henry')

Q12: Find the facilities with their usage by member, but not guests.

In [16]:
query1 = """
SELECT
	name,
	sum(slots) AS total_slots
FROM Facilities
LEFT JOIN Bookings USING (facid)
LEFT JOIN Members USING (memid)
WHERE memid != 0
GROUP BY name
ORDER BY total_slots DESC;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 1086)
('Tennis Court 1', 957)
('Massage Room 1', 884)
('Tennis Court 2', 882)
('Snooker Table', 860)
('Pool Table', 856)
('Table Tennis', 794)
('Squash Court', 418)
('Massage Room 2', 54)

Q13: Find the facilities usage by month, but not guests.

In [17]:
query1 = """
SELECT
	name AS facility_name,
	MONTH(starttime) AS month,
	sum(slots) AS total_slots_booked
FROM Facilities
LEFT JOIN Bookings USING (facid)
GROUP BY name, MONTH(starttime)
ORDER BY sum(slots) DESC;
"""
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: no such function: MONTH